h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

mat-card {
    padding: 1rem;
}
main mat-card {
    flex-basis: 40%;
}

section {
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
}

.comments {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.title-no-comment::after {
    content: ' - post something to make it more lively!';
    color: red;
}

.title-comment::after {
    content: ' - join the discussion!';
    color: greenyellow;
}

@media screen and (max-width: 992px) {
    main {
        flex-direction: column;
        justify-content: center;
    }
    
    main mat-card {
        flex-basis: 100%;
        margin-bottom: 2rem;
        width: 80%;
    }

    section {
        width: 80%;
    }

    .comments {
        width: 100%;
    }
}