<h1>{{MOCK_DATA.name}}</h1>
<main>
    <mat-card>
        <mat-card-content>{{MOCK_DATA.description}}</mat-card-content>
    </mat-card>
    <app-torrent-actions [torrent]="MOCK_DATA"></app-torrent-actions>
</main>

<section>
    <div class="comments">
        <h2>Comments</h2>
        <form [formGroup]="comment">
            <mat-form-field>
                <mat-label>Comment</mat-label>
                <textarea matInput formControlName="content"></textarea>
                <mat-error *ngIf="comment.controls.content.invalid">Comment must not be empty!</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">Post</button>
        </form>        

        <div *ngFor="let comment of MOCK_DATA.comments">
            <mat-card>
                <mat-card-title>{{comment.userName}}</mat-card-title>
                <mat-card-content>{{comment.content}}</mat-card-content>
                <mat-card-footer>at {{comment.date | yarrTime }}</mat-card-footer>
            </mat-card>
            <mat-divider></mat-divider>
        </div>
    </div>
</section>