@if (torrent) {
<h1>{{torrent!.name}}</h1>
<main>
    <mat-card>
        <mat-card-content>{{torrent!.description}}</mat-card-content>
    </mat-card>
    <app-torrent-actions [torrent]="torrent!"></app-torrent-actions>
</main>

<section>
    <div class="comments">
        <h2 [ngClass]="comments.length === 0 ? 'title-no-comment' : 'title-comment'">Comments</h2>
        
        @if (user) {
            <form [formGroup]="comment" (submit)="createComment()">
                <mat-form-field>
                    <mat-label>Comment</mat-label>
                    <textarea matInput formControlName="content"></textarea>
                    <mat-error *ngIf="comment.controls.content.invalid">Comment must not be empty!</mat-error>
                </mat-form-field>
                <button mat-raised-button type="submit" color="primary">Post</button>
            </form>    
        }

        <div *ngFor="let comment of comments">
            <mat-card>
                <mat-card-title>{{getUsernameById(comment.userId)}}</mat-card-title>
                <mat-card-content>{{comment.content}}</mat-card-content>
                <mat-card-footer>at {{comment.date | yarrTime }}</mat-card-footer>
            </mat-card>
            <mat-divider></mat-divider>
        </div>
    </div>
</section>
} @else {
    <mat-spinner></mat-spinner>
}