<a (click)="downloadTorrent()" [href]="torrent.link" download mat-icon-button [matBadge]="engagement?.downloadNumber" matBadgeColor="primary">
    <mat-icon>file_download</mat-icon>
</a>
<button (click)="likeTorrent()" mat-icon-button [matBadge]="engagement?.likeNumber" matBadgeColor="accent">
    <mat-icon>expand_less</mat-icon>
</button>
<button (click)="dislikeTorrent()" mat-icon-button [matBadge]="engagement?.dislikeNumber" matBadgeColor="accent">
    <mat-icon>expand_more</mat-icon>
</button>