<mat-toolbar>
    <button id="drawer-button" type="button" (click)="clickMenu()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <ul>
      <li id="title"><a routerLink="/">Yarr-Ez</a></li>
      @if (!user) {
        <li><a routerLink="/login">Login</a></li>
      } @else {
        <li><a routerLink="" (click)="logOut()">Logout</a></li>
      }

      @if (user) {
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/upload">Upload</a></li>
      }
    </ul>
</mat-toolbar>