<mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #drawer mode="over">
        <ul (click)="drawer.toggle()">
            <li><a routerLink="/">Home</a></li>
            @if (!user) {
                <li><a routerLink="/login">Login</a></li>
            } @else {
                <li><a routerLink="" (click)="logOut()">Logout</a></li>
            }

            @if (user) {
                <li><a routerLink="/profile">Profile</a></li>
                <li><a routerLink="/upload">Upload</a></li>
            }
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <app-navbar (onMenuClick)="drawer.toggle()" [user]="user"></app-navbar>
        <router-outlet />
    </mat-drawer-content>
</mat-drawer-container>