<main>
    <h1><q>If buying isn't owning<br>then pirating isn't stealing</q></h1>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    What is warez?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Yarr mateys, it's time to sail the high seas and pirate some good stuff! Even though it's highly illegal
                and I do <b>not</b> in any way condone it.
            </p>
            <p>
                Warez is a common computing and broader cultural term referring to pirated software (i.e. illegally
                copied, often after deactivation of anti-piracy measures) that is distributed via the Internet. The
                circumvention of copy protection (cracking) is an essential step in generating warez, and based on this
                common mechanism, the software-focused definition has been extended to include other copyright-protected
                materials, including movies and games. Distribution and trade of copyrighted works without payment of
                fees or royalties generally violates national and international copyright laws and agreements.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    @if (mostLikedTorrent && engagement) {
        <h2>Most liked torrent</h2>
        <mat-card>
            <mat-card-content>
                <mat-card-title>{{mostLikedTorrent.name}} - {{mostLikedTorrent.size | torrentSize}} - {{engagement.likeNumber}} likes - {{engagement.dislikeNumber}} dislikes</mat-card-title>
            </mat-card-content>
        </mat-card>
    }

    <h2>List of our wares</h2>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Torrent name</th>
            <td mat-cell *matCellDef="let element"><a [routerLink]="['/details', element.id]">{{element.name}}</a></td>
        </ng-container>

        <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef>Size</th>
            <td mat-cell *matCellDef="let element">{{element.size | torrentSize}}</td>
        </ng-container>

        <ng-container matColumnDef="upload-date">
            <th mat-header-cell *matHeaderCellDef>Upload date</th>
            <td mat-cell *matCellDef="let element">{{element.uploadDate | yarrTime}}</td>
        </ng-container>

        <ng-container matColumnDef="icons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="pad" mat-cell *matCellDef="let element">
                <app-torrent-actions [torrent]="element"></app-torrent-actions>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</main>